<div id="rootwizard">
    <!--<div class="navbar navbar-inverse">-->
        <!--<div class="navbar-inner">-->
            <!--<div class="container">-->
                <ul class="nav nav-wizard nav-pills">
                    <li><a href="#tab1" data-toggle="tab" ng-click="noop()"><span class="step-number">1</span> ALM Connection</a></li>
                    <li><a href="#tab2" data-toggle="tab"><span class="step-number">2</span> Fields Mapping</a></li>
                    <li><a href="#tab3" data-toggle="tab"><span class="step-number">3</span> Releases</a></li>
                </ul>
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="tab-content">
        <div class="tab-pane" id="tab1">
            <form class="form-horizontal" role="form">
                <div class="form-group" style="margin-top:50px">
                    <div style="float: left;">
                        <label for="name">Project Name:</label>
                    </div>
                    <div style=";float: right;width:80%">
                        <input type="text" class="form-control" id="name" ng-model="project.name">
                    </div>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<div style="float: left">-->
                        <!--<label style="margin-top:10px;">DB Type:</label>-->
                    <!--</div>-->
                    <!--<div style="float: right;width:80%">-->
                        <!--<select class="input-large form-control" ng-model="project.dbType">-->
                            <!--<option selected value="ALM">ALM</option>-->
                            <!--<option value="ORACLE">Oracle</option>-->
                            <!--<option value="SQL_SERVER">SQL Server</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <div style="float: left;">
                        <label for="almHost" style="margin-top:10px;">ALM Server URL:</label>
                    </div>
                    <div style=";float: right;width:80%">
                        <input type="text" class="form-control" id="almHost" ng-model="project.almHost" placeholder="http://localhost:8080" value="http://localhost:8080">
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="tab2">
            <form class="form-horizontal" role="form">
                <div class="form-group" style="margin-top:50px">
                    <div style="float: left;">
                        <label>Field A:</label>
                    </div>
                    <div style="float: right;width:80%">
                        <select class="input-large form-control">
                            <option selected value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                        </select>
                </div>
               </div>
                <div class="form-group" style="margin-top:50px">
                    <div style="float: left;">
                        <label>Field B:</label>
                    </div>
                    <div style="float: right;width:80%">
                        <select class="input-large form-control">
                            <option selected value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="margin-top:50px">
                    <div style="float: left;">
                        <label>Field C:</label>
                    </div>
                    <div style="float: right;width:80%">
                        <select class="input-large form-control">
                            <option selected value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="tab3">
            3
        </div>
        <ul class="pager wizard">
            <li class="previous"><a href="javascript:;">Previous</a></li>
            <li class="next"><a href="javascript:;">Next</a></li>
            <li class="next finish" style="display:none;"><a href="javascript:;" ng-click="onWizardFinish()">Training</a></li>
        </ul>
    </div>
</div>

