<div id="rootwizard">
    <!--<div class="navbar navbar-inverse">-->
        <!--<div class="navbar-inner">-->
            <!--<div class="container">-->
                <ul class="nav nav-wizard nav-pills">
                    <li><a href="#tab1" data-toggle="tab" ng-click="noop()"><span class="step-number">1</span> ALM Connection</a></li>
                    <li><a href="#tab2" data-toggle="tab"><span class="step-number">2</span> Fields Mapping</a></li>
                    <li><a href="#tab3" data-toggle="tab"><span class="step-number">3</span> Releases</a></li>
                </ul>
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="tab-content">
        <div class="tab-pane" id="tab1">
            <form class="form-horizontal" role="form">
                <div class="form-group" style="margin-top:50px">
                    <div style="float: left;">
                        <label for="name">Project Name:</label>
                    </div>
                    <div style=";float: right;width:80%">
                        <input type="text" class="form-control" id="name" ng-model="project.name">
                    </div>
                    </div>
                <div class="form-group">
                    <div style="float: left;">
                        <label for="almHost" style="margin-top:10px;">ALM Server:</label>
                    </div>
                    <div style=";float: right;width:80%">
                        <input type="text" class="form-control" id="almHost" ng-model="project.almHost" placeholder="http://myd-vm03386.hpswlabs.adapps.hp.com:8080" value="http:/myd-vm03386.hpswlabs.adapps.hp.com:8080">
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="tab2">
            <form class="form-horizontal" role="form">
                <div ng-repeat="f in project.fieldsMapping" class="form-group" style="margin-top:50px">
                    <div style="float: left;">
                        <label>{{f.logicalFieldName}}:</label>
                    </div>
                    <div style="float: right;width:80%">
                        <select ng-model="f.dbFieldName" ng-options="field.name for field in project.fields">
                            <option style="display:none" value="">Choose Field</option>
                        </select><br>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="tab3">
            <form class="form-horizontal" role="form"  class="form-group" style="margin-top:50px">
                <div ng-repeat="release in project.releases">
                    <p>Release {{$index}}</p>
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon">-->
                            <!--<i class="glyphicon glyphicon-calendar"></i>-->
                        <!--</span>-->
                        <input ui-date ng-model="release.from" placeholder="from">
                    <!--</div>-->

                    <input ui-date ng-model="release.to" placeholder="to">
                    <input ui-date ng-model="release.freeze" placeholder="freeze">
                </div>
            <form>
            <button type="button" class="btn btn-default btn-md" ng-click='addRelease();'>
                <span class="glyphicon glyphicon-add"></span> Add Release Range
            </button>
        </div>
        <ul class="pager wizard">
            <li class="previous"><a href="javascript:;">Previous</a></li>
            <li class="next"><a href="javascript:;">Next</a></li>
            <li class="next finish" style="display:none;"><a href="javascript:;" ng-click="onWizardFinish()">Training</a></li>
        </ul>
    </div>
</div>
